@import '../../scss/variables.scss';

.ressources {
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: $app-background;
  font-size: 1.5vw;
}

.ressources-text {
  color: white;
  font-family: Segoe UI;
  padding: 2%;
  align-items: center;
}

.ressources-slider {
  .slick-slide {
    padding: 0 10px;
  }
  .slick-list {
    margin: 0 -10px;
  }
}

.resource-card {
  background-color: #111144;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .ressources {
    font-size: 3.5vw;
  }
}
